{% extends "Base/base.html" %}

{% block content %}
    {% if title %}
        <h1>{{ title }}</h1>    
    {% endif %}
    <form method='POST' action='.'> 
        {% csrf_token %}
        {% comment %} <input type="text" name="name"> {% endcomment %}
        {% comment %} <input type="email" name="email"> {% endcomment %}
        {% comment %} <textarea name="content" id="content" cols="30" rows="10"></textarea> {% endcomment %}

        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock content %}
    